.container-header {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  justify-items: center;
  height: 80px;

  div:nth-child(1) {
    grid-column-start: 2;
  }
  div:nth-child(2) {
    margin-left: auto;
    margin-right: 4vw;
  }

  .container-header-main-search-content,
  .container-header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
