<div class="container-header">
  <div class="container-header-main-search-content">
    <fa-icon class="icon-youtube" [icon]="faYoutube"></fa-icon>
    <form class="header-form">
      <div class="search-input">
        <input type="text" name="text" id="text" placeholder="What are you want to find out?" class="search-text" />
        <input type="submit" value="search" class="button-search" />
      </div>
    </form>
    <span class="icon-wrapper">
      <fa-icon class="icon-slidersh" [icon]="faSlidersH"></fa-icon>
    </span>
  </div>
  <div class="container-header-user">
    <p>{{ userName }}</p>
    <span class="icon-wrapper">
      <fa-icon class="icon-stumbleuponcircle" [icon]="faUserCircle"></fa-icon>
    </span>
  </div>
</div>
