<div class="container-interaction-icons">
  <div class="container-icons">
    <fa-icon class="icon-eye" [icon]="faEye"></fa-icon>
    <div class="viewers-count">{{ card.views }}</div>
  </div>
  <div class="container-icons">
    <fa-icon class="icon-heart" [icon]="faHeart"></fa-icon>
    <div class="likes-count">{{ card.likes }}</div>
  </div>
  <div class="container-icons">
    <fa-icon class="icon-heartbroken" [icon]="faHeartBroken"></fa-icon>
    <div class="dislikes-count">{{ card.dislikes }}</div>
  </div>
  <div class="container-icons">
    <fa-icon class="icon-clone" [icon]="faClone"></fa-icon>
    <div class="clones-count">{{ card.clones }}</div>
  </div>
</div>
