@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  margin: 0 0 0 0;
  font-family: Roboto;
}

input {
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
