p:first-child {
  color: #929292;
}

.header-form {
  margin-left: 12px;
}

.button-search {
  color: #2f80ed;
  cursor: pointer;
}

.button-search {
  border-style: none;
  background-color: #e5e5e5;
}

.search-text {
  padding: 0 0 0 0;
  width: 150px;
  border: none;

  &:hover,
  &:focus {
    border: none;
  }
}
