.more-card-detail-button {
  outline: none;
  border-style: none;
  background-color: #2f80ed;
  color: #fff;
  size: 12px;
  width: 120px;
  text-align: center;
  margin: 40px 0 2vh 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
