.container-filtering-criteria-block {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 12px;
  background-color: #e5e5e5;

  .container-criterion-buttons {
    display: flex;
  }
}
